h1{
    color: green;
    font-style: italic
}
ul {
    margin: 5px;
    padding: 10px, 5px;
    width: fit-content;
}
.note{
    color: grey;
    padding: 3px;
    font-size: 15px;
}
button{
    border-radius: 8px;
    padding-left: 10px;
}
.error{
    color: red;
    background: lightgray;
    border: solid;
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
    width:fit-content;
}